---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { getCurrentLocale } from "@utils/localeUtils";
import { ClientRouter } from 'astro:transitions';

const { title, description, image } = Astro.props;
const lang = getCurrentLocale(Astro.url.pathname);
---

<!doctype html>
<html lang={lang}>
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T6LXVD66');</script>
    <!-- End Google Tag Manager -->
    <ClientRouter />
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body
    class="mx-auto flex min-h-screen max-w-6xl flex-col px-4 dark:prose-invert dark:bg-neutral-900 sm:px-6 lg:px-8"
  >
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T6LXVD66"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

    <Header />

    <main class="flex-grow">
      <slot />
    </main>

    <Footer />

    <script>
      document.addEventListener('astro:page-load', async () => {
        const preline: any = await import('preline/dist/preline.js');
        preline.HSStaticMethods.autoInit();
      });
    </script>
  </body>
</html>